.bg-layer {
    position: fixed;
    inset: -5%;
    z-index: -2;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    background-position: center;
    opacity: 0;
    transition: opacity 0.8s ease;
    will-change: transform;
}

.bg-layer::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: repeating-linear-gradient(-45deg,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1) 0.2rem,
            transparent 0.2rem,
            transparent 1.5rem);
    opacity: 0.6;
    z-index: 1;
}

.bg-layer::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image:
        linear-gradient(to right, rgba(255, 255, 255, 0.03) 0.1rem, transparent 0.1rem),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 0.1rem, transparent 0.1rem);
    background-size: 10rem 10rem;
    mask-image: radial-gradient(circle at center, black, transparent 80%);
    animation: patternDrift 40s linear infinite;
}

@keyframes patternDrift {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 50rem 50rem;
    }
}

.bg-layer.active {
    opacity: 1;
}

#image-container {
    position: fixed;
    inset: 0;
    z-index: 90;

    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    -webkit-mask-image: linear-gradient(to bottom, black 0%, black calc(100% - 17vh), transparent 100%);
    mask-image: linear-gradient(to bottom, black 0%, black calc(100% - 17vh), transparent 100%);

    will-change: transform, filter;
}

@media (orientation: portrait) {
    #image-container {
        -webkit-mask-image: none !important;
        mask-image: none !important;
    }
}

.char-image {
    position: absolute;
    height: 100vh;
    width: auto;
    object-fit: cover;
    opacity: 0;
    will-change: transform, opacity;
}

.char-image.active {
    opacity: 1;
}

.ambient-text {
    position: fixed;
    font-family: "AbrilFatface", serif;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 0.8;
    pointer-events: none;
    user-select: none;
    will-change: transform;
}

.ambient-text.faction {
    top: 12vh;
    left: 4vw;
    font-size: 7vh;
    opacity: 0.35;
    z-index: 2;

    letter-spacing: -0.1rem;
    filter: blur(0.1rem);
}

.ambient-text.nickname {
    bottom: 22vh;
    right: 3vw;
    font-size: 14vh;
    opacity: 0.75;
    z-index: 505;

    letter-spacing: -0.6rem;
    text-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.85);
}



.bg-decorations {
    display: none;
}