:root {
    --accent-color: rgb(252, 91, 144);
    --bg-color: rgb(17, 17, 17);
    font-size: clamp(0.6rem, calc(100vh / 108), 2.5rem);
}

@font-face {
    font-family: "Zenless";
    src: url("../assets/fonts/Zenless_Font.ttf");
}

@font-face {
    font-family: "Zenless_Glyphs";
    src: url("../assets/fonts/Zenless_Glyphs.ttf");
}

@font-face {
    font-family: "Rajdhani";
    src: url("../assets/fonts/Rajdhani-Bold.ttf");
}

@font-face {
    font-family: "AbrilFatface";
    src: url("../assets/fonts/AbrilFatface-Regular.ttf");
}

* {
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: "Zenless", monospace;
    background: var(--bg-color);
}

.paper-overlay {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 9999;
    background-image:
        url('data:image/svg+xml,%3Csvg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"%3E%3Cfilter id="noiseFilter"%3E%3CfeTurbulence type="fractalNoise" baseFrequency="0.65" numOctaves="3" stitchTiles="stitch"/%3E%3C/filter%3E%3Crect width="100%25" height="100%25" filter="url(%23noiseFilter)"/%3E%3C/svg%3E');
    background-size: auto;
    opacity: 0.1;
    mix-blend-mode: multiply;
}

.cursor {
    animation: blink 1.1s step-start infinite;
    color: var(--accent-color);
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}